.menu-cabecera{
    background-color:#BE1622;
    width: 100%;
}
*{
  margin: 0%;  
  padding: 0%;
}
.banner{
    background-color: #ff7d60;
    width: 100%;
    height: 120px;
}
    .CajaColumna{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    .columna{
        flex: 1;
        background-color: antiquewhite;
        border: 1px solid black;
    }
    .ColorVerde{
        background-color: rgb(0, 92, 29);
    }
    .ColorNaranja{
        background-color: rgb(255, 140, 45);
    }
    .ColorCeleste{
        background-color: rgb(77, 169, 250);
    }
    
